@inject NavigationManager Navig

<AuthorizeView>
    <Authorized>
        <MudMenu Icon="@Icons.Filled.Person" Color="Color.Secondary" Direction="Direction.Right" OffsetY="true">
            <MudMenuItem OnClick='() => Navig.NavigateTo("Identity/Account/Manage")'>Hello, @context.User.Identity?.Name!</MudMenuItem>
            <MudMenuItem>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link">Log out</button>
                </form>
            </MudMenuItem>
        </MudMenu>
    </Authorized>
    <NotAuthorized>
        <MudIconButton Icon="@Icons.Filled.SupervisedUserCircle" Color="Color.Default" OnClick='() => Navig.NavigateTo("Identity/Account/Register", true)' />
        <MudIconButton Icon="@Icons.Filled.Login" Color="Color.Secondary" OnClick='() => Navig.NavigateTo("Identity/Account/Login", true)' />
    </NotAuthorized>
</AuthorizeView>