@page "/taskslist"

<PageTitle>Tasks list</PageTitle>

<h1>Tasks list</h1>

<AuthorizeView>
    <Authorized>
        <p>This is the component in which the user will create and view the Tasks List</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not allowed to display that page</p>
    </NotAuthorized>
</AuthorizeView>


@code {

}